rbac:
  create: true
metricsScraper:
  enabled: true
fullnameOverride: kubernetes-dashboard
extraArgs:
  - --enable-skip-login
  - --enable-insecure-login
settings:
  itemsPerPage: 40
  logsAutoRefreshTimeInterval: 5
  resourceAutoRefreshTimeInterval: 5
resources:
  requests:
    cpu: 50m
    memory: 200Mi
  limits:
    cpu: 200m
    memory: 200Mi
