# global:
#   image:
#     tag: master-bf6af9cf
weave-scope-frontend:
  resources:
    requests:
      cpu: 25m
      memory: 100Mi
    limits:
      cpu: 150m
      memory: 150Mi
weave-scope-agent:
  resources:
    requests:
      cpu: 25m
      memory: 100Mi
    limits:
      cpu: 100m
      memory: 150Mi
weave-scope-cluster-agent:
  resources:
    requests:
      cpu: 25m
      memory: 100Mi
    limits:
      cpu: 100m
      memory: 150Mi
