extraArgs:
  metric-resolution: 60s
  kubelet-insecure-tls: true
  kubelet-preferred-address-types: InternalIP,ExternalIP,Hostname
apiService:
  create: true
resources:
  limits:
    cpu: 100m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi
